@model IEnumerable<EShop.Entities.Order>

@{
    ViewBag.Title = "MyOrders";
}

<h2>My Orders</h2>

<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.OrderedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.OrderedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.ID })
           
        </td>
    </tr>
}

</table>
