@model EShop.Entities.Product
@{
    ViewBag.Title = "Edit";
    var imageURL = string.IsNullOrEmpty(Model.ImageURL) ? "/Content/images/logo-removebg-preview.png" : Model.ImageURL;
}

<h2>Edit Product</h2>



<form id="editProduct">
    <input type="hidden" name="ID" value="@Model.ID" />

    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <label>Price</label>
    <input name="Price" value="@Model.Price" />
    <div class="thumb">
        <img class="img-thumbnail img-fluid" id="productImage" src="@Model.ImageURL" />
    </div>
    <button id="saveBtn" type="button">Save</button>
</form>



<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type: "POST",
            url: '/Product/Edit',
            data: $("#editProduct").serialize()

        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            });
    });
</script>